<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mortes 24H</title>
</head>
<body>
    <div class="container mt-5">
        <h1 style="text-align:center;">Game of Thrones</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-warning">
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center activity">
                    <div>
                        <form action="/GOT" method="GET" class="form">
                            <label for="nome"><h3>Informe o nome da personagem:</h3></label>
                            <input type="text" type="text" required name="nome">
                            <br>
                            <button class="btn btn-primary"type="submit">Pesquisar</button>
                        </form>
                    </div>
                </div>
                <div style="margin-top:10%;">
                    <h2>Dados da personagem</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Genêro</th>
                                <th scope="col">Cultura</th>
                                <th scope="col">Data Nascimento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{info.name}}</td>
                                <td>{{info.gender}}</td>
                                <td>{{info.culture}}</td>
                                <td>{{info.born}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Informações da casa da personagem</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Região</th>
                                <th scope="col">Lema</th>
                                <th scope="col">Brasão</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for casa in casas%}
                                <tr>
                                    <td>{{casa.name}}</td>
                                    <td>{{casa.region}}</td>
                                    <td>{{casa.words}}</td>
                                    <td>{{casa.coatOfArms}}</td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <h2>Livros que a personagem aparece personagem</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Nº de paginas</th>
                                <th scope="col">Editora</th>
                                <th scope="col">Data de lançamento</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for livro in livros%}
                                <tr>
                                    <td>{{livro.name}}</td>
                                    <td>{{livro.authors[0]}}</td>
                                    <td>{{livro.numberOfPages}}</td>
                                    <td>{{livro.publisher}}</td>
                                    <td>{{livro.released}}</td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>